@import url("https://fonts.googleapis.com/css?family=Comfortaa|Shadows+Into+Light&display=swap");

.note-card-container {
  width: 450px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 3rem;
  display: inline-table;
  font-family: "Comfortaa", cursive;
  border-radius: 10px;
}

.note-card-title {
  flex: 1;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  letter-spacing: 2.5px;
  width: 350px;
  font-weight: 700;
}

.note-card-content {
  padding: 2rem;
  flex: 1;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  margin: 1rem;
  letter-spacing: 2px;
  width: 340px;
  text-align: center;
  font-weight: 500;
}

.note-card-tags {
  margin: 2rem;
  color: #087f5b;
  letter-spacing: 1px;
  display: list-item;
}

.note-card-delete {
  float: right;
  font-size: 25px;
  padding: 0.5rem;
  cursor: pointer;
}
.note-card-delete:hover {
  color: #96f2d7;
  transition: all 0.3s linear;
}

.note-card-edit {
  float: right;
  font-size: 25px;
  padding: 0.5rem;
  cursor: pointer;
}

.note-card-edit:hover {
  color: #96f2d7;
  transition: all 0.3s linear;
}
